.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid #88ff00;
    background: #000;
    font-family: "Courier New", Courier, monospace;
}

.logo {
    color: #88ff00;
    font-weight: bold;
    flex: 0;
    white-space: nowrap;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 18px;
    flex: 1;
}

.nav-links a {
    color: #bbffc1;
    text-decoration: none;
    transition: 0.2s;
}

.nav-links a:hover {
    color: #88ff00;
    text-shadow: 0 0 6px #88ff00;
}

.nav-links a.active {
    color: #88ff00;
    text-shadow: 0 0 6px #88ff00;
}

.system-right {
    color: #777;
    font-size: 13px;
    white-space: nowrap;
    flex: 0;
    margin-left: auto;
}

.menu-btn {
    display: none;
    background: none;
    border: 1px solid #88ff00;
    color: #88ff00;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
}

@media (max-width: 700px) {
    .menu-btn {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 50px;
        right: 10px;
        flex-direction: column;
        background: #000;
        border: 1px solid #88ff00;
        padding: 10px;
    }

    .nav-links.active {
        display: flex;
    }
}
